// Import custom theme
@require './theme.styl'

// Import Vuetify styling
@require '~vuetify/src/stylus/main'

@require 'navbar'
@require 'footer'
@require 'coder'

// .page
  // @extend .fade-transition

.bolder
  font-weight: 900

.uppercase
  text-transform: uppercase
  